
Documentation/Report/LaTeX/CS_Project_Portfolio.aux
Documentation/Report/LaTeX/CS_Project_Portfolio.bbl
Documentation/Report/LaTeX/CS_Project_Portfolio.bcf
Documentation/Report/LaTeX/CS_Project_Portfolio.blg
Documentation/Report/LaTeX/CS_Project_Portfolio.log
Documentation/Report/LaTeX/CS_Project_Portfolio.out
Documentation/Report/LaTeX/CS_Project_Portfolio.pdf
Documentation/Report/LaTeX/CS_Project_Portfolio.run.xml
Documentation/Report/LaTeX/CS_Project_Portfolio.synctex.gz
Documentation/Report/LaTeX/CS_Project_Portfolio.toc
Documentation/Report/LaTeX/texput.log
Software/Python/.idea/inspectionProfiles/profiles_settings.xml
Software/Python/.idea/misc.xml
Software/Python/.idea/inspectionProfiles
Software/Python/.idea/Python.iml
Software/Python/__pycache__/dataset_helper.cpython-311.pyc
Software/Python/__pycache__/reticle_finder.cpython-311.pyc
Software/Python/__pycache__
Software/Python/data/eval/default - Copy.json
Software/Python/.idea/vcs.xml
